[template]
cargo_generate_version = ">=0.23"

exclude = ["utils/src/*.rs"]


[hooks]
pre = ["prehooks.rhai"]


[placeholders.board]
type    = "string"
prompt  = "Select your Development Board"
choices = ["RM-TYPEC", "DM-MC02", "Other STM32 Board"]

[conditional.'board == "Other STM32 Board"'.placeholders.chip]
type    = "string"
prompt  = "Enter your Target Chip"
default = "stm32g473re"
regex   = "(?i)^\\s*STM32\\w{6,}$"


[placeholders.rtt_forward]
type    = "bool"
prompt  = "Include RTT Forwarding Support?"
default = true

[conditional.'rtt_forward'.placeholders.rtt_server]
type    = "string"
prompt  = "Enter RTT Server Address (IP:Port)"
default = "127.0.0.1:1008"
regex   = "^((25[0-5]|(2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\\.){3}(25[0-5]|(2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9]))):(\\d{1,5})$"

[conditional.'!rtt_forward']
ignore = ["{{crate_name}}/Embed.toml"]


[conditional.'board == "Other STM32 Board"'.placeholders.ocdcfg]
type = "string"
prompt = "Select OpenOCD Configuration File"
default = "stm32g4x.cfg"
choices = [
    "stm32f0x.cfg",
    "stm32f1x.cfg",
    "stm32f2x.cfg",
    "stm32f3x.cfg",
    "stm32f4x.cfg",
    "stm32f7x.cfg",
    "stm32g0x.cfg",
    "stm32g4x.cfg",
    "stm32h7x.cfg",
    "stm32h7x_dual_bank.cfg",
    "stm32l0x.cfg",
    "stm32l0x_dual_bank.cfg",
    "stm32l1x.cfg",
    "stm32l1x_dual_bank.cfg",
    "stm32l4x.cfg",
    "stm32l5x.cfg",
    "stm32u5x.cfg",
    "Custom",
]
